<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name><![CDATA[sendreviewrequest]]></name>
	<displayName><![CDATA[Send Review Request]]></displayName>
	<version><![CDATA[3.3.2]]></version>
	<description><![CDATA[Send a review request after a defined order state.]]></description>
	<author><![CDATA[SLiCK-303]]></author>
	<author_uri/>
	<tab><![CDATA[emailing]]></tab>
	<confirmUninstall>Are you sure you want to delete all settings and your logs?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries/>
</module>
